.navbar {
    display: inline;
}

.menu {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu-item-link {
    color: #FF0000;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.menu-item {
    display: inline;
    margin-left: 70px;
}

li:last-child {
    margin-left: 50px;
}


.bgphoto {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.main-content {
    margin: 0;
    padding-top: 50px;
    display: inline;
    text-align: center;
}

.title {
    display: block;
    margin: 50px auto 40px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
}


.main-text {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 67px 0 67px;
    margin: 0 auto 30px;
    width: 1145px;
}

.btn-container {
    margin: 33px auto 42px;
}

.button-link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 42px;
    margin: 18px auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
}

.footer {
    margin: auto;
    width: 1070px;
}


.footer-text {
    color: #373737;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    text-align: right;
}